@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 138 48% 95%;
    --foreground: 138 5% 10%;
    --card: 138 48% 90%;
    --card-foreground: 138 5% 10%;
    --popover: 138 48% 95%;
    --popover-foreground: 138 95% 10%;
    --primary: 138 74% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 138 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 100 30% 85%;
    --muted-foreground: 138 5% 35%;
    --accent: 100 30% 80%;
    --accent-foreground: 138 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 138 5% 90%;
    --border: 138 30% 50%;
    --input: 138 30% 18%;
    --ring: 138 74% 38%;
    --radius: 1rem;
  }
  .dark {
    --background: 138 48% 10%;
    --foreground: 138 5% 90%;
    --card: 138 48% 10%;
    --card-foreground: 138 5% 90%;
    --popover: 138 48% 5%;
    --popover-foreground: 138 5% 90%;
    --primary: 138 74% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 138 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 100 30% 15%;
    --muted-foreground: 138 5% 60%;
    --accent: 100 30% 15%;
    --accent-foreground: 138 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 138 5% 90%;
    --border: 138 30% 18%;
    --input: 138 30% 18%;
    --ring: 138 74% 38%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import "./layout.css";
@import "./event.css";
