@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 138 48% 95%;
    --foreground: 138 5% 10%;
    --card: 138 48% 90%;
    --card-foreground: 138 5% 10%;
    --popover: 138 48% 95%;
    --popover-foreground: 138 95% 10%;
    --primary: 138 74% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 138 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 100 30% 85%;
    --muted-foreground: 138 5% 35%;
    --accent: 100 30% 80%;
    --accent-foreground: 138 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 138 5% 90%;
    --border: 138 30% 50%;
    --input: 138 30% 18%;
    --ring: 138 74% 38%;
    --radius: 1rem;
  }
  [data-theme="dark"] {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #19a944;

    --background: 147 48.1% 3.04%;
    --foreground: 147 7.4% 96.9%;

    --muted: 147 37% 11.4%;
    --muted-foreground: 147 7.4% 53.8%;

    --popover: 147 50.2% 4.94%;
    --popover-foreground: 147 7.4% 96.9%;

    --card: 147 50.2% 4.94%;
    --card-foreground: 147 7.4% 96.9%;

    --border: 147 37% 11.4%;
    --input: 147 37% 11.4%;

    --primary: 147 74% 38%;
    --primary-foreground: 147 7.4% 96.9%;

    --secondary: 147 37% 11.4%;
    --secondary-foreground: 147 7.4% 96.9%;

    --accent: 147 37% 11.4%;
    --accent-foreground: 147 7.4% 96.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 147 7.4% 96.9%;

    --ring: 147 74% 38%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-hidden;
  }
}

@import "./layout.css";
@import "./event.css";
